<%= stylesheet_link_tag "select2" %>

<div id="new_session_container" style="display: none">

  <h2> Objective: Guess the country based on various clues.</h2>
  
  <%= form_tag do %>
    <%= label_tag :username, 'Username: '  %>
    <%= text_field_tag :username, "user_"+SecureRandom.hex(3) %>
    <%= submit_tag "Play", :id => "play" %>
  <% end %>
  
  <br />
  Notes:
  <ul>
    <li>Mentions of the country in clues will be replaced by underscores </li>
    <li>You need an opponent to play this game.  </li>
  </ul>
</div>

<br />
<br />
<br />

<div id="old_clues">
	<ul class="text_clues" style="background-color: yellow">
	</ul>
	<table style='height: 150px;'>
		<tr class="bxslider">
		</tr> 
	</table>
</div>

<div id="clue_container" style="display: none">
  <h2>-- Guess the Country --</h2>
  <br/>
  <h1 class="title"></h1>
  <h2>Time Left: <span class="counter"></span></h2>
  <div class="content" style="clear:both">
    
  </div>
  <br />
  <hr/>
  I think you are talking about
  <input type="hidden" id="locations" style="width: 300px" />
  <input type="button" value="Confirm" id="guess_location" />
</div>

<%= javascript_include_tag "//js.pusher.com/2.2/pusher.min.js", "jquery.serialize-object" , "lodash.compat.min", "select2.min", "play" %>

<script>
  var g = {};

  g.pusherKey = '<%= Pusher.key %>';
  g.createSessionPath = '<%= create_session_path %>';
  g.clueTimeoutPath = '<%= clue_timeout_path %>';
  g.guessLocationPath = '<%= guess_location_path %>';
  g.pingPath = '<%= ping_path %>';
  
  g.clueTimeout = 10
  
  Pusher.host    = 'letronje.koding.io';
  Pusher.ws_port = 8080;
  Pusher.wss_port = 8080;

  Pusher.log = function(message) {
    l(message);
  };

  g.pusher = new Pusher(g.pusherKey, { enabledTransports: ["ws"] });
</script>


